/* BASIC STYLES HERE */

.minheight {
  min-height: 30vh;
}

.header{
  height: 2em;
  background-color: #F6F286;
}

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: aqua;
  color: black;
}

.blue1 {
  background: #13b4ff;
}

.taskcount{
font-size: small;
}

.stickynote{
  height: 65vh;
  width: 65vh;
  position: absolute;
right: 10vh;
top: 21vh;
}

.foootcolor{
  background-color: #F6F286;
}





@media only screen and (max-width: 770px) {

  .stickynoteremove{
display: none !important;
visibility: hidden !important;
  }







}